<div class="nested-fields">
  <div class="listing-form">

  </div>

  <div class="listing-form">
    <div>
      <%= f.text_field :name %>
    </div>
  </div>

  <div>
    <%= link_to_remove_association "-Remove", f %>
  </div>
</div>
