<div class="nested-fields">
  <div class="listing-form">
  </div>

  <div class="listing-form">
    <div>
      <%= f.input :name, label: false, :url => autocomplete_matchitem_name_listings_path, :as => :autocomplete %>
    </div>
  </div>

  <div>
    <%= link_to_remove_association "-Remove", f %>
  </div>
</div>
